.circle {
    height: 18px;
    width: 18px;
    background: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.dots {
    gap: 1rem;
}

.active {
    opacity: 1;
}

.container {
    display: flex;
    gap: 1rem;
}
